# Node
node_modules/
.pnpm/
.pnp.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
.storybook-out/
*.tsbuildinfo

# Vite cache
.vite/

# Storybook cache
node_modules/.cache/
.cache/
storybook-static/

# Tailwind
*.css.d.ts

# VSCode
.vscode/

# Mac & OS
.DS_Store
Thumbs.db

# Env
.env*
!.env.example
