:root {
}

@theme {
  --font-sans-light: "Lato L", system-ui, sans-serif;
  --font-sans: "Lato R", system-ui, sans-serif;
  --font-sans-sb: "Lato SB", system-ui, sans-serif;
  --font-sans-b: "Lato B", system-ui, sans-serif;
  --color-ppx-green-1: #eaf8f1;
  --color-ppx-green-2: #a7e1c6;
  --color-ppx-green-3: #82d5ae;
  --color-ppx-green-4: #4dc28c;
  --color-ppx-green-5: #28b674;
  --color-ppx-green-6: #1c7f51;
  --color-ppx-green-7: #186f47;
  --color-ppx-red-1: #f8e6e6;
  --color-ppx-red-2: #e39696;
  --color-ppx-red-3: #d76b6b;
  --color-ppx-red-4: #c62b2b;
  --color-ppx-red-5: #ba0000;
  --color-ppx-red-6: #820000;
  --color-ppx-red-7: #710000;
  --color-ppx-yellow-1: #fff7e6;
  --color-ppx-yellow-2: #ffdd96;
  --color-ppx-yellow-3: #fecf6b;
  --color-ppx-yellow-4: #febb2b;
  --color-ppx-yellow-5: #fead00;
  --color-ppx-yellow-6: #b27900;
  --color-ppx-yellow-7: #9b6a00;
  --color-ppx-neutral-1: #fafbfb;
  --color-ppx-neutral-2: #f5f6f7;
  --color-ppx-neutral-3: #ebedf0;
  --color-ppx-neutral-4: #dfe2e6;
  --color-ppx-neutral-5: #c2c7d0;
  --color-ppx-neutral-6: #b3b9c4;
  --color-ppx-neutral-7: #a6aebb;
  --color-ppx-neutral-8: #98a1b0;
  --color-ppx-neutral-9: #8993a4;
  --color-ppx-neutral-10: #7a8699;
  --color-ppx-neutral-11: #6b788e;
  --color-ppx-neutral-12: #5d6b82;
  --color-ppx-neutral-13: #505f79;
  --color-ppx-neutral-14: #42526d;
  --color-ppx-neutral-15: #354764;
  --color-ppx-neutral-16: #243757;
  --color-ppx-neutral-17: #15294b;
  --color-ppx-neutral-18: #091e42;
  --color-ppx-primary-1: #eaf8f1;
  --color-ppx-primary-2: #a7e1c6;
  --color-ppx-primary-3: #82d5ae;
  --color-ppx-primary-4: #4dc28c;
  --color-ppx-primary-5: #28b674;
  --color-ppx-primary-6: #1c7f51;
  --color-ppx-primary-7: #186f47;
  --color-ppx-primary-b-1: #ecf4fe;
  --color-ppx-primary-b-2: #b1d1f9;
  --color-ppx-primary-b-3: #90bef6;
  --color-ppx-primary-b-4: #60a2f3;
  --color-ppx-primary-b-5: #408ff0;
  --color-ppx-primary-b-6: #2d64a8;
  --color-ppx-primary-b-7: #275792;
  --color-ppx-background: #fff;
  --color-ppx-foreground: var(--color-ppx-neutral-18);
  --color-ppx-muted-background: #dfe2e6;
  --color-ppx-muted-foreground: var(--color-ppx-neutral-13);
  --color-ppx-border: var(--color-ppx-neutral-3);

  --breakpoint-ppx-sm: 40rem;
  --breakpoint-ppx-md: 48rem;
  --breakpoint-ppx-lg: 64rem;
  --breakpoint-ppx-xl: 80rem;
  --breakpoint-ppx-2xl: 96rem;

  --padding-input: 0.5rem;

  --height-input: 2.5rem;
  --height-input-s: 2rem;

  --min-width-input: 18rem;

  --radius-ppx-xs: 0.125rem;
  --radius-ppx-s: 0.5rem;
  --radius-ppx-m: 0.75rem;
  --radius-ppx-l: 1rem;
  --radius-ppx-xl: 1.25rem;
  --radius-input: var(--radius-ppx-s);
  --radius-input-s: var(--radius-ppx-s);
}

@utility text-ppx-h1 {
  font-size: 2.441rem;
  line-height: 3rem;
}

@utility text-ppx-h2 {
  font-size: 1.953rem;
  line-height: 2.5rem;
}

@utility text-ppx-h3 {
  font-size: 1.562rem;
  line-height: 2rem;
}

@utility text-ppx-h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@utility text-ppx-base {
  font-size: 1rem;
  line-height: 1.25rem;
}

@utility text-ppx-sm {
  font-size: 0.875rem;
  line-height: 1rem;
}

@utility text-ppx-xs {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

@utility text-ppx-xxs {
  font-size: 0.64rem;
  line-height: 0.75rem;
}

@utility h-stretch-available {
  /* For WebKit browsers */
  height: -webkit-fill-available;
  /* For Mozilla browsers */
  height: -moz-available;
  /* Standard for modern browsers */
  height: stretch;
}

.no-arrow-spin {
  -moz-appearance: textfield;
}

.no-arrow-spin::-webkit-outer-spin-button,
.no-arrow-spin::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.root {
  isolation: isolate;
}

@keyframes bounce-color {
  0%,
  100% {
    transform: translateY(0);
    background-color: rgb(209 213 219);
  }

  50% {
    transform: translateY(-25%);
    background-color: rgb(55 65 81);
  }
}

@source "./**/*.{js,jsx,ts,tsx}";

