@theme {
  --font-sans: "Lato R", system-ui, sans-serif;
  --font-sans-sb: "Lato SB", system-ui, sans-serif;
  --font-sans-b: "Lato B", system-ui, sans-serif;
  --color-ppx-green-1: #eaf8f1;
  --color-ppx-green-2: #a7e1c6;
  --color-ppx-green-3: #82d5ae;
  --color-ppx-green-4: #4dc28c;
  --color-ppx-green-5: #28b674;
  --color-ppx-green-6: #1c7f51;
  --color-ppx-green-7: #186f47;
  --color-ppx-red-1: #f8e6e6;
  --color-ppx-red-2: #e39696;
  --color-ppx-red-3: #d76b6b;
  --color-ppx-red-4: #c62b2b;
  --color-ppx-red-5: #ba0000;
  --color-ppx-red-6: #820000;
  --color-ppx-red-7: #710000;
  --color-ppx-yellow-1: #fff7e6;
  --color-ppx-yellow-2: #ffdd96;
  --color-ppx-yellow-3: #fecf6b;
  --color-ppx-yellow-4: #febb2b;
  --color-ppx-yellow-5: #fead00;
  --color-ppx-yellow-6: #b27900;
  --color-ppx-yellow-7: #9b6a00;
  --color-ppx-gray-1: #fafbfb;
  --color-ppx-gray-2: #f5f6f7;
  --color-ppx-gray-3: #ebedf0;
  --color-ppx-gray-4: #dfe2e6;
  --color-ppx-gray-5: #c2c7d0;
  --color-ppx-gray-6: #b3b9c4;
  --color-ppx-gray-7: #a6aebb;
  --color-ppx-gray-8: #98a1b0;
  --color-ppx-gray-9: #8993a4;
  --color-ppx-gray-10: #7a8699;
  --color-ppx-gray-11: #6b788e;
  --color-ppx-gray-12: #5d6b82;
  --color-ppx-gray-13: #505f79;
  --color-ppx-gray-14: #42526d;
  --color-ppx-gray-15: #354764;
  --color-ppx-gray-16: #243757;
  --color-ppx-gray-17: #15294b;
  --color-ppx-gray-18: #091e42;
  --color-ppx-primary-1: #ecf4fe;
  --color-ppx-primary-2: #b1d1f9;
  --color-ppx-primary-3: #90bef6;
  --color-ppx-primary-4: #60a2f3;
  --color-ppx-primary-5: #408ff0;
  --color-ppx-primary-6: #2d64a8;
  --color-ppx-primary-7: #275792;
  --color-ppx-background: #fff;
  --color-ppx-foreground: #000;
  --color-ppx-muted: #dfe2e6;
  --color-ppx-muted-foreground: #6b788e;
  --color-ppx-accent: #dfe2e6;
  --color-ppx-accent-foreground: #6b788e;
  --color-ppx-destructive: var(--color-ppx-red-5);
  --color-ppx-destructive-foreground: var(--color-ppx-red-5);
  --color-ppx-border: var(--color-ppx-gray-3);
  --color-ppx-input: var(--color-ppx-gray-3);
  --color-ppx-ring: var(--color-ppx-gray-3);
  --radius-ppx-xs: 0.125rem;
  --radius-ppx-s: 0.5rem;
  --radius-ppx-m: 0.75rem;
  --radius-ppx-l: 1rem;
  --radius-ppx-xl: 1.25rem;
}

@utility text-ppx-h1 {
  font-size: 2.441rem;
  line-height: 3rem;
}

@utility text-ppx-h2 {
  font-size: 1.953rem;
  line-height: 2.5rem;
}

@utility text-ppx-h3 {
  font-size: 1.562rem;
  line-height: 2rem;
}

@utility text-ppx-h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@utility text-ppx-base {
  font-size: 1rem;
  line-height: 1.25rem;
}

@utility text-ppx-sm {
  font-size: 0.8rem;
  line-height: 1rem;
}

@utility text-ppx-xs {
  font-size: 0.64rem;
  line-height: 0.75rem;
}

@source "./**/*.{js,jsx,ts,tsx}";