:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --color-ppx-green-1: #eaf8f1;
  --color-ppx-green-2: #a7e1c6;
  --color-ppx-green-3: #82d5ae;
  --color-ppx-green-4: #4dc28c;
  --color-ppx-green-5: #28b674;
  --color-ppx-green-6: #1c7f51;
  --color-ppx-green-7: #186f47;
  --color-ppx-red-1: #f8e6e6;
  --color-ppx-red-2: #e39696;
  --color-ppx-red-3: #d76b6b;
  --color-ppx-red-4: #c62b2b;
  --color-ppx-red-5: #ba0000;
  --color-ppx-red-6: #820000;
  --color-ppx-red-7: #710000;
  --color-ppx-yellow-1: #fff7e6;
  --color-ppx-yellow-2: #ffdd96;
  --color-ppx-yellow-3: #fecf6b;
  --color-ppx-yellow-4: #febb2b;
  --color-ppx-yellow-5: #fead00;
  --color-ppx-yellow-6: #b27900;
  --color-ppx-yellow-7: #9b6a00;
  --color-ppx-gray-1: #fafbfb;
  --color-ppx-gray-2: #f5f6f7;
  --color-ppx-gray-3: #ebedf0;
  --color-ppx-gray-4: #dfe2e6;
  --color-ppx-gray-5: #c2c7d0;
  --color-ppx-gray-6: #b3b9c4;
  --color-ppx-gray-7: #a6aebb;
  --color-ppx-gray-8: #98a1b0;
  --color-ppx-gray-9: #8993a4;
  --color-ppx-gray-10: #7a8699;
  --color-ppx-gray-11: #6b788e;
  --color-ppx-gray-12: #5d6b82;
  --color-ppx-gray-13: #505f79;
  --color-ppx-gray-14: #42526d;
  --color-ppx-gray-15: #354764;
  --color-ppx-gray-16: #243757;
  --color-ppx-gray-17: #15294b;
  --color-ppx-gray-18: #091e42;
  --color-ppx-primary-1: #ecf4fe;
  --color-ppx-primary-2: #b1d1f9;
  --color-ppx-primary-3: #90bef6;
  --color-ppx-primary-4: #60a2f3;
  --color-ppx-primary-5: #408ff0;
  --color-ppx-primary-6: #2d64a8;
  --color-ppx-primary-7: #275792;
  --color-ppx-background: var(--background);
  --color-ppx-foreground: var(--foreground);
  --color-ppx-card: var(--card);
  --color-ppx-card-foreground: var(--card-foreground);
  --color-ppx-popover: var(--popover);
  --color-ppx-popover-foreground: var(--popover-foreground);
  --color-ppx-primary: var(--primary);
  --color-ppx-primary-foreground: var(--primary-foreground);
  --color-ppx-secondary: var(--secondary);
  --color-ppx-secondary-foreground: var(--secondary-foreground);
  --color-ppx-muted: var(--muted);
  --color-ppx-muted-foreground: var(--muted-foreground);
  --color-ppx-accent: var(--accent);
  --color-ppx-accent-foreground: var(--accent-foreground);
  --color-ppx-destructive: var(--destructive);
  --color-ppx-destructive-foreground: var(--destructive-foreground);
  --color-ppx-border: var(--border);
  --color-ppx-input: var(--input);
  --color-ppx-ring: var(--ring);
  --radius-ppx-sm: calc(var(--radius) - 4px);
  --radius-ppx-md: calc(var(--radius) - 2px);
  --radius-ppx-lg: var(--radius);
  --radius-ppx-xl: calc(var(--radius) + 4px);
}

@source "./**/*.{js,jsx,ts,tsx}";
